@use 'sass:math';

//========== Mixin and Functions ============

$breakpoints-min: (
  'small': 44em,
  'medium': 63em,
  'large': 80em,
) !default;

@mixin mq-min($breakpoint) {
  @if map-has-key($breakpoints-min, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints-min, $breakpoint)) {
      @content;
    }
  }
}

$breakpoints-max: (
  'small': 43.99em,
  'medium': 62.99em,
  'large': 79.99em,
) !default;
@mixin mq-max($breakpoint) {
  @if map-has-key($breakpoints-max, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints-max, $breakpoint)) {
      @content;
    }
  }
}
// Usage:

// .selector {
//   color: red;

//   @include mq-min('small') {
//     color: blue;
//   }
// }
// ===================================

// +++++++++ Hover ++++++++++++

@mixin hover {
  @media (hover: hover) {
    &:where(:hover, :focus) {
      @content;
    }
  }
}

// ++++++++++++++ REM Functions +++++++++++
$html-font-size: 16px;
@function rem($Value) {
  $remValue: math.div($Value, $html-font-size) + rem;
  @return $remValue;
}
@function em($Value) {
  $remValue: math.div($Value, $html-font-size) + em;
  @return $remValue;
}
